.wrapper {
  padding: 50px 0;
  text-align: center;
  background-color: var(--background-color-website);

  .temperature {
    font-weight: 200;
    font-size: 6rem;
    box-sizing: border-box;
    padding-left: 0.6rem;
  }

  .description {
    opacity: 0.75;
  }
}

.cityName {
  text-align: center;

  button,
  input {
    font-size: 2.5rem;
    font-weight: 600;
  }

  input {
    width: 80%;
    text-align: center;
    animation: none;
  }
}
