.lineInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-top: 2px solid var(--border-cell-color);

  .dayOfTheWeek {
    width: 6rem;
  }

  .iconWrapper {
    height: 90%;
    width: 100px;
  }

  .temperature {
    display: flex;
    justify-content: end;
    gap: 15px;
    width: 30%;
    min-width: max-content;
  }
}
